<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/node_modules/dragula/dist/dragula.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <title>Kanban Board</title>
</head>
<body>
<div class="board-wrapper">
<h3 class="board-title"></h3>
<div class="board" id="board">

</div>
</div>
<div class="add-board">
    <input type="text" placeholder="New board name">
    <button onclick="addboard();">Add board</button>
</div>
<div class="boardList"></div>

<script src="/node_modules/dragula/dist/dragula.js"></script>
<script src="/node_modules/socket.io/client-dist/socket.io.min.js"></script>
<script src="/assets/js/main.js"></script>

</body>
</html>




