
<script src="/assets/js/jquery-1.10.2.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/node_modules/dragula/dist/dragula.js"></script>
<script src="/node_modules/socket.io/client-dist/socket.io.min.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/board.js"></script>
<script src="/assets/js/dragula-handler.js"></script>
<script src="/assets/js/ux.js"></script>


</body>
</html>
