<%- include('header', {title: pageTitle}) %>

<h1><%= pageTitle %></h1>

<form action="/login" method="post">
    <input type="text" name="username" placeholder="Имя пользователя" required><br>
    <input type="password" name="password" placeholder="Пароль" required><br>
    <input type="submit" value="Войти">
</form>

<%- include('footer') %>
