<%- include('header', {title: pageTitle}) %>

<%- include('userprofile', {username: username, userid: userid}) %>


<div class="content">
<div class="board-wrapper">
    <h3 class="board-title"></h3>
    <div class="board" id="board">
    </div>
</div>
</div>

<%- include('modal') %>

<%- include('footer') %>