body {
    background: linear-gradient(to right, rgb(255 255 255), rgb(245 229 253));
}

.board-title {
    color: #644c2e
}

.col-wrapper {
    min-width: 350px;
}

.board .col-wrapper, .col-wrapper-fixed {
    color: rgb(7 6 6);
}

.delete-task {
    color: #dc3545;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(81 71 71);
}

.task {
    /*background: linear-gradient(to bottom, rgb(255 255 255), rgb(217 217 217 / 14%));*/
    background: #ffffff45;
    transition: 0.4s;
    margin-bottom: 15px;
}

.task:hover {
    background: linear-gradient(to bottom, rgb(255 255 255 / 0%), rgb(254 224 255 / 22%));
}


.menu-toggle {
    color: #070606;
}

.sidebar {
    background: #f0f0ff00;
    width: 300px;
    font-size: 18px;
}

.content {
    padding: 20px 20px 20px 320px;
}

.sidebar h1, .sidebar h6 {
    color: #4e4943;
}

.list-group-item {
    color: rgb(61 52 52);
}

.sidebar-bottom a {
    color: #4e4943;
}

.sidebar-bottom .recycle a:hover {
    color: #65728b;
}