.handle {
    cursor: move;
}
.board {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    /*align-items: flex-start;*/
}
.column {
    position: relative;
    margin: 20px 0px;
    min-height: 100px;
}
.col-wrapper {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    min-width: 300px;
    position: relative;
    margin-bottom: 20px;
    min-height: 700px;
}

.col-wrapper-fixed {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    min-width: 300px;
    position: relative;
    margin-bottom: 20px;
    height: 100%;
}

.task {
    position: relative;
    margin-bottom: 8px;
    background-color: #fbe2e230;
    padding: 8px;
    border-radius: 5px;
    cursor: move;
    box-shadow: 2px 2px 14px 0px rgb(0 0 0 / 21%);
    min-height: 100px;}

.add-task-form, .add-column-form {
    margin-top: 10px;
}

.add-column {
    margin-top: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.add-form-btn {
    display: block;
}

.dropdown-content {
    display: none;
    background-color: #a68b8b45;
    backdrop-filter: blur(10px);
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 12px;
}

.dropdown-content input {
    border: none;
    padding: 10px 20px;
    background: #eefff900;
    color: black;
}

.dropdown-content button[type='submit']
{
                                    width: 80px;
                                    border: none;
                                    /* background-color: rgb(250, 95, 95); */
                                    border-radius: 10px;
                                }

.dropdown:hover .dropdown-content {
    display: block;
}

.menu-toggle {
    color: #fff3cd;
    justify-content: flex-end;
}
.menu-toggle:hover {
    text-decoration: none;
}

.delete-task {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    color: gold;
}

.task-title {
    padding: 5px 20px 5px 5px;
    border: none;
    word-wrap: break-word;
    background-color: transparent;
    cursor: pointer;
    font-family: inherit; /* Наследовать семейство шрифтов */
    font-size: inherit; /* Наследовать размер шрифта */
    line-height: inherit; /* Наследовать межстрочный интервал */
    color: inherit; /* Наследовать цвет текста */
}

.task-wrapper {
    min-height: 100px;
}

.task-title:focus {
    outline: none;
    border: none;
    box-shadow: none;
}


.bx {
    pointer-events: none;
}



body {
    display: flex;
    margin: 0;
    min-height: 100vh;
}
.sidebar {
    width: 250px;
    flex: none;
    background-color: #07152366;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    backdrop-filter: blur(10px);
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    flex-shrink: 0;
    overflow-y: auto;
    z-index: 10;
}
.sidebar h1 {
    font-size: 1.5rem;
    color: antiquewhite;
}
.sidebar h6 {
    color: antiquewhite;
}
.sidebar button {
    width: 100%;
    margin-top: 10px;
}
.content {
    flex-grow: 1;
    overflow-y: hidden;
    padding: 20px 20px 20px 280px;
}
.board-wrapper {
    margin-bottom: 20px;
}


.delete-board {
    position: absolute;
    visibility: hidden;
    top: 25%;
    right: 10px;
    height: 100%;
    border: none;
    color: rgb(59 59 59);
}

.list-group-item {
    word-wrap: break-word;
    padding-right: 30px;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.2);
}

.board-title {
    color: #f2ede7;
    display: inline-flex;
}

.board-header button {
    display: inline-flex;
    flex-direction: row;
    vertical-align: text-bottom;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    margin: 10px;
    width: 500px;
}

.login-form form {
    background: none;
    border: none;
}

.login-form a {
    color: #632637;
    font-weight: 600;
}

.login-form a:hover {
    color: #000000;
    text-decoration: none;
}

.login-form .error {
    color: #ffffff;
    display: block;
    /*background: #dc3545;*/
    padding: 10px 20px;
    border-radius: 10px;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    width: 100%;
}

.ctime {
    padding: 1rem;
    display: inline-flex;
}
.modal .dropdown button {
    padding: 0 10px;
}

#badge-dropdown {
    min-width: auto;
}

.modal-title {
    display: flex;
}

.comment-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.comment-content {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 5px;
}

.comment-details {
    font-size: 14px;
    color: #888;
}

.comment-delete {
    color: #d9534f;
    cursor: pointer;
}

.badge-lists {
    padding-right: 20px;
}


.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Высота на всю страницу */
}

.sidebar-content {
    flex: 1; /* Занимает все доступное пространство */
    overflow-y: auto; /* Если нужно прокручивание для длинного контента */
}

.sidebar-bottom {
    margin-top: auto; /* Перемещает блок вниз */
}

.recycle {
    text-align: center;
    padding: 40px 10px 10px;
}

.sidebar-bottom a {
        color: #faead7;
}

.sidebar-bottom a:hover {
    color: #eef6ff;
    text-decoration: none;
}

.sharedicon {
    display: inline-block;
    width: 20px;
    height: 20px;
}


.theme-switch-wrapper {
    display: flex;
    position: absolute;
    right: 10px;
}

.theme-switch {
    display: inline-block;
    height: 20px; /* Уменьшено с 34px */
    position: relative;
    width: 40px; /* Уменьшено с 60px */
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #a48888cc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: white;
    bottom: 3px; /* Уменьшено с 4px */
    content: "";
    height: 14px; /* Уменьшено с 26px */
    left: 3px; /* Уменьшено с 4px */
    position: absolute;
    transition: .4s;
    width: 14px; /* Уменьшено с 26px */
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(20px); /* Уменьшено с 26px */
}

.slider.round {
    border-radius: 20px; /* Уменьшено с 34px */
}

.slider.round:before {
    border-radius: 50%;
}

.icon {
    font-size: 16px; /* Уменьшено с 24px */
    margin: 0 5px; /* Уменьшено с 10px */
}

.sun {
    color: #FFD700;
}

.moon {
    color: #4A4A4A;
}